publishing/its/XML-schema/Archetype.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemas.openehr.org/v1/am" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rm="http://schemas.openehr.org/v1/rm"  targetNamespace="http://schemas.openehr.org/v1/am" elementFormDefault="qualified" version="1.0.1">

<xs:import namespace="http://schemas.openehr.org/v1/rm" schemaLocation="basetypes.xsd"/>

	<xs:element name="archetype" type="ARCHETYPE"/>
	<xs:complexType name="ARCHETYPE">
		<xs:sequence>
			<xs:element name="archetype_id" type="xs:string"/>
			<xs:element name="concept_code" type="xs:string"/>
			<xs:element name="parent_archetype_id" type="xs:string" minOccurs="0"/>
<!--
			<xs:element name="original_language" type="CODE_PHRASE"/>
-->
			<xs:element name="original_language" type="rm:CODE_PHRASE"/>
			<xs:element name="is_controlled" type="xs:boolean" minOccurs="0"/>
			<xs:element name="description" type="RESOURCE_DESCRIPTION" minOccurs="0"/>
			<xs:element name="translations" type="TRANSLATION_DETAILS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="definition" type="C_COMPLEX_OBJECT" minOccurs="0"/>
			<xs:element name="ontology" type="ARCHETYPE_ONTOLOGY" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TRANSLATION_DETAILS">
		<xs:sequence>
<!--
			<xs:element name="language" type="CODE_PHRASE"/>
-->
			<xs:element name="language" type="rm:CODE_PHRASE"/>
			<xs:element name="author" type="hashTableStringString" minOccurs="0"/>
			<xs:element name="accreditation" type="xs:string" minOccurs="0"/>
			<xs:element name="other_details" type="hashTableStringString" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RESOURCE_DESCRIPTION">
		<xs:sequence>
			<xs:element name="original_author" type="hashTableStringString"/>
			<xs:element name="other_contributors" type="list_of_string" minOccurs="0"/>
			<xs:element name="lifecycle_state" type="xs:string"/>
			<xs:element name="details" type="RESOURCE_DESCRIPTION_ITEM" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="resource_package_uri" type="xs:string" minOccurs="0"/>
			<xs:element name="other_details" type="hashTableStringString" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RESOURCE_DESCRIPTION_ITEM">
		<xs:sequence>
<!--
			<xs:element name="language" type="CODE_PHRASE"/>
-->
			<xs:element name="language" type="rm:CODE_PHRASE"/>
			<xs:element name="purpose" type="xs:string"/>
			<xs:element name="keywords" type="list_of_string" minOccurs="0"/>
			<xs:element name="use" type="xs:string"/>
			<xs:element name="misuse" type="xs:string"/>
			<xs:element name="copyright" type="xs:string" minOccurs="0"/>
			<xs:element name="original_resource_uri" type="xs:string" minOccurs="0"/>
			<xs:element name="other_details" type="hashTableStringString" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="list_of_string">
		<xs:sequence>
			<xs:element name="item" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="hashTableStringString">
		<xs:sequence>
			<xs:element name="item" type="dictionaryItem" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dictionaryItem">
		<xs:sequence>
			<xs:element name="key" type="xs:string"/>
			<xs:element name="value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ARCHETYPE_CONSTRAINT" abstract="true">
		<xs:sequence>
			<xs:element name="any_allowed" type="xs:boolean" default="false" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_OBJECT" abstract="true">
		<xs:complexContent>
			<xs:extension base="ARCHETYPE_CONSTRAINT">
				<xs:sequence>
					<xs:element name="rm_type_name" type="xs:string"/>
					<xs:element name="occurrences" type="interval_of_integer" minOccurs="0"/>
					<xs:element name="node_id" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="C_ATTRIBUTE" abstract="true">
		<xs:complexContent>
			<xs:extension base="ARCHETYPE_CONSTRAINT">
				<xs:sequence>
					<xs:element name="rm_attribute_name" type="xs:string"/>
					<xs:element name="children" type="C_OBJECT" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:attribute name="minOccurs" type="xs:nonNegativeInteger" use="optional" default="1"/>
				<xs:attribute name="maxOccurs" type="xs:positiveInteger" use="optional" default="1"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="C_SINGLE_ATTRIBUTE">
		<xs:complexContent>
			<xs:extension base="C_ATTRIBUTE">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="C_MULTIPLE_ATTRIBUTE">
		<xs:complexContent>
			<xs:extension base="C_ATTRIBUTE">
				<xs:sequence>
					<xs:element name="cardinality" type="CARDINALITY"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CARDINALITY">
		<xs:sequence>
			<xs:element name="is_ordered" type="xs:boolean" default="false"/>
			<xs:element name="is_unique" type="xs:boolean" default="false"/>
			<xs:element name="interval" type="interval_of_integer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="C_COMPLEX_OBJECT">
		<xs:complexContent>
			<xs:extension base="C_OBJECT">
				<xs:sequence>
					<xs:element name="attributes" type="C_ATTRIBUTE" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ARCHETYPE_SLOT">
		<xs:complexContent>
			<xs:extension base="C_OBJECT">
				<xs:sequence>
					<xs:element name="includes" type="ASSERTION" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="excludes" type="ASSERTION" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CONSTRAINT_REF">
		<xs:complexContent>
			<xs:extension base="C_OBJECT">
				<xs:sequence>
					<xs:element name="reference" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="C_PRIMITIVE_OBJECT">
		<xs:complexContent>
			<xs:extension base="C_OBJECT">
				<xs:sequence>
					<xs:element name="item" type="C_PRIMITIVE"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="C_DOMAIN_TYPE" abstract="true">
		<xs:complexContent>
			<xs:extension base="C_OBJECT">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ARCHETYPE_INTERNAL_REF">
		<xs:complexContent>
			<xs:extension base="C_OBJECT">
				<xs:sequence>
					<xs:element name="target_path" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ASSERTION">
		<xs:sequence>
			<xs:element name="tag" type="xs:string" minOccurs="0"/>
			<xs:element name="string_expression" type="xs:string" minOccurs="0"/>
			<xs:element name="expression" type="EXPR_ITEM"/>
			<xs:element name="variables" type="ASSERTION_VARIABLE" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EXPR_ITEM" abstract="true">
		<xs:sequence>
			<xs:element name="type" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASSERTION_VARIABLE">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="definition" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EXPR_LEAF">
		<xs:complexContent>
			<xs:extension base="EXPR_ITEM">
				<xs:sequence>
					<xs:element name="item" type="xs:anyType"/>
					<xs:element name="reference_type" type="xs:string"/>
					<!-- constant, attribute, constraint or function -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EXPR_OPERATOR" abstract="true">
		<xs:complexContent>
			<xs:extension base="EXPR_ITEM">
				<xs:sequence>
					<xs:element name="operator" type="OPERATOR_KIND"/>
					<xs:element name="precedence_overridden" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EXPR_UNARY_OPERATOR">
		<xs:complexContent>
			<xs:extension base="EXPR_OPERATOR">
				<xs:sequence>
					<xs:element name="operand" type="EXPR_ITEM"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EXPR_BINARY_OPERATOR">
		<xs:complexContent>
			<xs:extension base="EXPR_OPERATOR">
				<xs:sequence>
					<xs:element name="left_operand" type="EXPR_ITEM"/>
					<xs:element name="right_operand" type="EXPR_ITEM"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="OPERATOR_KIND">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="2001" id="equal"/>
			<xs:enumeration value="2002" id="not_equal"/>
			<xs:enumeration value="2003" id="less_than_or_equal"/>
			<xs:enumeration value="2004" id="less_than"/>
			<xs:enumeration value="2005" id="greater_than_or_equal"/>
			<xs:enumeration value="2006" id="greater_than"/>
			<xs:enumeration value="2007" id="matches"/>
			<xs:enumeration value="2008" id="multiply"/>
			<xs:enumeration value="2009" id="plus"/>
			<xs:enumeration value="2010" id="minus"/>
			<xs:enumeration value="2011" id="divide"/>
			<xs:enumeration value="2012" id="exponent"/>
			<xs:enumeration value="2013" id="not"/>
			<xs:enumeration value="2014" id="and"/>
			<xs:enumeration value="2015" id="or"/>
			<xs:enumeration value="2016" id="xor"/>
			<xs:enumeration value="2017" id="implies"/>
			<xs:enumeration value="2018" id="for_all"/>
			<xs:enumeration value="2019" id="exists"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VALIDITY_KIND">
		<xs:restriction base="xs:integer">
			<xs:enumeration value="1001" id="mandatory"/>
			<xs:enumeration value="1002" id="optional"/>
			<xs:enumeration value="1003" id="disallowed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="C_PRIMITIVE" abstract="true">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="C_BOOLEAN">
		<xs:complexContent>
			<xs:extension base="C_PRIMITIVE">
				<xs:sequence>
					<xs:element name="true_valid" type="xs:boolean"/>
					<xs:element name="false_valid" type="xs:boolean"/>
					<xs:element name="assumed_value" type="xs:boolean" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="C_STRING">
		<xs:complexContent>
			<xs:extension base="C_PRIMITIVE">
				<xs:sequence>
					<xs:element name="pattern" type="xs:string" minOccurs="0"/>
					<xs:element name="list" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="list_open" type="xs:boolean" minOccurs="0"/>
					<xs:element name="assumed_value" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="C_INTEGER">
		<xs:complexContent>
			<xs:extension base="C_PRIMITIVE">
				<xs:sequence>
					<xs:element name="list" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="range" type="interval_of_integer" minOccurs="0"/>
					<xs:element name="list_open" type="xs:boolean" minOccurs="0"/>
					<xs:element name="assumed_value" type="xs:integer" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="C_REAL">
		<xs:complexContent>
			<xs:extension base="C_PRIMITIVE">
				<xs:sequence>
					<xs:element name="list" type="xs:float" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="range" type="interval_of_real" minOccurs="0"/>
					<xs:element name="assumed_value" type="xs:float" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="C_DATE">
		<xs:complexContent>
			<xs:extension base="C_PRIMITIVE">
				<xs:sequence>
					<xs:element name="pattern" type="xs:string" minOccurs="0"/>
					<xs:element name="range" type="interval_of_date" minOccurs="0"/>
					<xs:element name="assumed_value" type="xs:date" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="C_DATE_TIME">
		<xs:complexContent>
			<xs:extension base="C_PRIMITIVE">
				<xs:sequence>
					<xs:element name="pattern" type="xs:string" minOccurs="0"/>
					<xs:element name="timezone_validity" type="VALIDITY_KIND" minOccurs="0"/>
					<xs:element name="range" type="interval_of_date_time" minOccurs="0"/>
					<xs:element name="assumed_value" type="xs:dateTime" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="C_TIME">
		<xs:complexContent>
			<xs:extension base="C_PRIMITIVE">
				<xs:sequence>
					<xs:element name="pattern" type="xs:string" minOccurs="0"/>
					<xs:element name="timezone_validity" type="VALIDITY_KIND" minOccurs="0"/>
					<xs:element name="range" type="interval_of_time" minOccurs="0"/>
					<xs:element name="assumed_value" type="xs:time" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="C_DURATION">
		<xs:complexContent>
			<xs:extension base="C_PRIMITIVE">
				<xs:sequence>
					<xs:element name="pattern" type="xs:string" minOccurs="0"/>
					<xs:element name="range" type="interval_of_duration" minOccurs="0"/>
					<xs:element name="assumed_value" type="xs:duration" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="interval" abstract="true">
		<xs:sequence>
			<xs:element name="includes_maximum" type="xs:boolean" default="true" minOccurs="0"/>
			<xs:element name="includes_minimum" type="xs:boolean" default="true" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="interval_of_integer">
		<xs:complexContent>
			<xs:extension base="interval">
				<xs:sequence>
					<xs:element name="maximum" type="xs:integer" minOccurs="0"/>
					<xs:element name="minimum" type="xs:integer" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="interval_of_real">
		<xs:complexContent>
			<xs:extension base="interval">
				<xs:sequence>
					<xs:element name="maximum" type="xs:float" minOccurs="0"/>
					<xs:element name="minimum" type="xs:float" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="interval_of_date">
		<xs:complexContent>
			<xs:extension base="interval">
				<xs:sequence>
					<xs:element name="maximum" type="xs:date" minOccurs="0"/>
					<xs:element name="minimum" type="xs:date" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="interval_of_date_time">
		<xs:complexContent>
			<xs:extension base="interval">
				<xs:sequence>
					<xs:element name="maximum" type="xs:dateTime" minOccurs="0"/>
					<xs:element name="minimum" type="xs:dateTime" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="interval_of_time">
		<xs:complexContent>
			<xs:extension base="interval">
				<xs:sequence>
					<xs:element name="maximum" type="xs:time" minOccurs="0"/>
					<xs:element name="minimum" type="xs:time" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="interval_of_duration">
		<xs:complexContent>
			<xs:extension base="interval">
				<xs:sequence>
					<xs:element name="maximum" type="oe_duration" minOccurs="0"/>
					<xs:element name="minimum" type="oe_duration" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="oe_duration">
		<xs:restriction base="xs:string">
			<xs:pattern value="P(\d+[YMWD]){0,4}(T(\d+[HM]){0,2}(\d+(\.\d+)?S)?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ARCHETYPE_ONTOLOGY">
		<xs:sequence>
			<xs:element name="terminologies_available" type="list_of_string" minOccurs="0"/>
			<xs:element name="specialisation_depth" type="xs:integer" default="0"/>
			<xs:element name="term_defintions" type="language_set" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="constraint_defintions" type="language_set" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="term_bindings" type="terminology_set" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="constraint_bindings" type="terminology_set" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="language_set">
		<xs:sequence>
			<xs:element name="language" type="xs:string"/>
			<xs:element name="terms" type="ARCHETYPE_TERM" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="terminology_set">
		<xs:sequence>
			<xs:element name="terminology" type="xs:string"/>
			<xs:element name="bindings" type="binding" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="binding">
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ARCHETYPE_TERM">
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="items" type="hashTableStringString"/>
		</xs:sequence>
	</xs:complexType>
	<!--
	<xs:complexType name="CODE_PHRASE">
		<xs:sequence>
			<xs:element name="code_string" type="xs:string"/>
			<xs:element name="terminology_id" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="C_QUANTITY">
		<xs:complexContent>
			<xs:extension base="C_DOMAIN_TYPE">
				<xs:sequence>
					<xs:element name="property" type="CODE_PHRASE" minOccurs="0"/>
					<xs:element name="list" type="C_QUANTITY_ITEM" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="C_ORDINAL">
		<xs:complexContent>
			<xs:extension base="C_DOMAIN_TYPE">
				<xs:sequence>
					<xs:element name="list" type="ORDINAL" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="assumed_value" type="xs:integer" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
-->
</xs:schema>
